# Byte-compiled Python files
**/__pycache__/
**/*.py[cod]
**/*.pyo

# Virtual Environments
.venv/
env/
venv/

# Diskcache cache directory
cache/

# Environment Files
.env
.env.*

# Docker
docker-compose.override.yml
*.log

# VSCode
.vscode/

# React build outputs & dependencies
apps/web/node_modules/
apps/web/.next/
apps/web/out/
apps/web/.env.local

# macOS files
.DS_Store